.body1{
    background-image: url("Math Background.jpg");
    background-position: center;
    background-size: cover;
}
title{
    color: whitesmoke ;
}
h1{
    color: whitesmoke ;
}
h3{
    color: whitesmoke ;
}